<!-- <div class="header" id="headerId">
    <div class="title">Home!</div>
    <div class="navLink">
      <ul class="navUL">
        <li class="li lit"><a routerLink='/register'><button class="btn btn-primary" *ngIf="isLoggedIn()">Register</button></a></li>
      </ul>
    </div>
  </div>
  
  <marquee class="mark" scrollamount="15"> Welcome to Shop For Home
  </marquee>

<form #formLogin='ngForm' (ngSubmit)="deleteUser(formLogin.value)">
    <div class="cardLogin">
      <div class="loginTitle">Delete User</div>
      <div class="form-group userName">
        <label for="username">Email:</label> <input type="text"
          class="form-control inp" id="email" placeholder="Enter email"
          name="email" required #email='ngModel' [class.is-invalid]='email.invalid && email.touched' 
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel/>
  
      </div>
  
      <div *ngIf="email.touched" class="email">
        <div *ngIf="email.errors && (email.invalid)">
            <small class="text-danger" *ngIf="email.errors.required">
                Email is Required
            </small>
            <small class="text-danger" *ngIf='email.errors.pattern'>
                This id not a valid Email
            </small>
        </div>
    </div>
  
      <div align="center">
        <button [disabled]="formLogin.form.invalid" type="submit"
        class="btnsubmit btn btn-primary">Delete User</button>
      </div>
    </div>
</form>
  

 -->



 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand flash-me">Home!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/adduser">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/updateuser">Update User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/getUsers">Get Users</a>
        </li>


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
            Admin
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink='/loginAdmin'>Login</a>
            <a class="dropdown-item" routerLink="/adminRegister">Register</a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="title-text">
     <div class="title login">
        Delete User Form
     </div>
  </div>
  <div class="form-container">
      <!-- <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked >
        <label for="login" class="slide login">Delete User</label>
        <div class="slider-tab"></div>
      </div> -->
     <div class="form-inner">
        <form #formLogin='ngForm' (ngSubmit)="deleteUser(formLogin.value)">
           <div class="field">
              <input type="text" placeholder="Email Address" required name="email" #email='ngModel' [class.is-invalid]='email.invalid && email.touched' 
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel>
           </div>

           <div *ngIf="email.touched">
            <div *ngIf="email.errors && (email.invalid)">
                <small class="text-danger" *ngIf="email.errors.required">
                    Email is Required
                </small>
                <small class="text-danger" *ngIf='email.errors.pattern'>
                    This id not a valid Email
                </small>
            </div>
          </div>

            <div class="field btn">
              <div class="btn-layer">
              <input [disabled]="formLogin.form.invalid" type="submit" value="Delete">
            </div>
           </div>
        </form>
     </div>
  </div>
</div>
