<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand flash-me">Home!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/adduser">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/deleteuser">Delete User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/getUsers">Get Users</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)='logOut()' routerLink="/login">Log Out</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)='logOut()' routerLink="/login">Log Out</a>
          </li> -->

          <!-- <button class="btn btn-outline-danger" routerLink='/login' (click)="logOut()">Log Out</button> -->
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="title">Update User Details</div>
    <div class="content">
      <form #formReg='ngForm' (ngSubmit)="registerUser(formReg.value)">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name*</span>
            <input type="text" placeholder="Enter your name" required name="name" #name='ngModel'
              [class.is-invalid]='name.invalid && name.touched' minlength="4" ngModel />
              
            <div *ngIf="name.touched">
              <div *ngIf="name.errors && (name.invalid)">
                <small class="text-danger" *ngIf="name.errors.required">
                  Name is Required
                </small>
                <small class="text-danger" *ngIf='name.errors.pattern'>
                  Thid id not a valid Email
                </small>
                <small class="text-danger" *ngIf='name.errors.minlength'>
                  Description should be of length 4 characters
                </small>
              </div>
            </div>
  
          </div>
  
          <div class="input-box">
            <span class="details">Email*</span>
            <input type="text" placeholder="Enter your Email" required #email='ngModel' minlength="4"
              [class.is-invalid]='email.invalid && email.touched' pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              name="email" ngModel>
            <div *ngIf="email.touched" class="email">
              <div *ngIf="email.errors && (email.invalid)">
                <small class="text-danger" *ngIf="email.errors.required">
                  Email is Required
                </small>
                <small class="text-danger" *ngIf='email.errors.pattern'>
                  Thid id not a valid City
                </small>
              </div>
            </div>
          </div>
  
          <div class="input-box">
            <span class="details">City*</span>
            <input type="text" placeholder="Enter your City" required name="city" #city='ngModel'
              [class.is-invalid]='city.invalid && email.touched' ngModel>
  
            <div *ngIf="city.touched">
              <div *ngIf="city.errors && (city.invalid)">
                <small class="text-danger" *ngIf="city.errors.required">
                  City is Required
                </small>
                <small class="text-danger" *ngIf='city.errors.minlength'>
                  It should not be less than 4 charaters
                </small>
              </div>
            </div>
  
          </div>
  
          <div class="input-box">
            <span class="details">Phone Number*</span>
            <input type="text" placeholder="Enter your number" required #mobile='ngModel' minlength="10"
              [class.is-invalid]='mobile.invalid && mobile.touched' name="mobile" ngModel>
            <div *ngIf="mobile.touched" class="mobile">
              <div *ngIf="mobile.errors && (mobile.invalid)">
                <small class="text-danger" *ngIf="mobile.errors.required">
                  Phone no. is Required
                </small>
                <small class="text-danger" *ngIf='mobile.errors.minlength'>
                  It should not be less than 10 characters
                </small>
              </div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Password*</span>
            <input type="password" placeholder="Enter your password" required #password='ngModel' minlength="6"
              [class.is-invalid]='password.invalid && password.touched' name="password" ngModel>
  
            <div *ngIf="password.touched">
              <div *ngIf="password.errors && (password.invalid)">
                <small class="text-danger" *ngIf="password.errors.required">
                  Password is Required
                </small>
                <small class="text-danger" *ngIf='password.errors.minlength'>
                  It should not be less than 6 charaters
                </small>
              </div>
            </div>
  
          </div>
          <div class="input-box">
            <span class="details">Confirm Password*</span>
            <input type="password" placeholder="Confirm your password" required #confirmpassword='ngModel' minlength="6"
              [class.is-invalid]='confirmpassword.invalid && confirmpassword.touched' name="confirmpassword" ngModel>
            <div *ngIf="confirmpassword.touched">
              <div *ngIf="confirmpassword.errors && (confirmpassword.invalid)">
                <small class="text-danger" *ngIf="confirmpassword.errors.required">
                  Password is Required
                </small>
                <small class="text-danger" *ngIf='confirmpassword.errors.minlength'>
                  It should not be less than 6 charaters
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="button">
          <input [disabled]='formReg.form.invalid' type="submit" value="Update User">
        </div>
      </form>
    </div>
  </div>