<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand flash-me">Home!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
            Admin
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink='/loginAdmin'>Login</a>
            <a class="dropdown-item" routerLink="/adminRegister">Register</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> 

<a><div class="header">
  <a class="logo">SHOP FROM HOME</a>
  <div class="header-right">
    
    <a>Contact</a>
    <a>About</a>
  </div>
</div></a>




<!-- <div class="header" id="headerId">
    
  <span class="block">
    <span class="flash-me" >HOME DECOR</span>
    
  </span>


   <div class="navLink">
    <ul class="navUL">
      <li class="dropdown">
        <a class="dropbtn">Admin</a>
        <div class="dropdown-content">
          <a routerLink='/loginAdmin'>Login</a>
          <a routerLink='/adminRegistration'>Register</a>
        </div>
      </li>
      
      <li class="li lit"><a routerLink='/register'><button class="btn btn-outline-danger">Register User</button></a></li>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </ul>
  </div>
</div> -->

<!-- <marquee class="mark" scrollamount="15"> Welcome to Shop From Home
  - Connecting people with thier styles!
</marquee>

<form #formLogin='ngForm' (ngSubmit)="loginUser(formLogin.value)">
  <div class="cardLogin">
    <div class="loginTitle">Login</div>
    <div class="form-group userName">
      <label for="username">Email:</label> <input type="text"
        class="form-control inp" id="email" placeholder="Enter email"
        name="email" required #email='ngModel' [class.is-invalid]='email.invalid && email.touched' 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel/>

    </div>

    <div *ngIf="email.touched" class="email">
      <div *ngIf="email.errors && (email.invalid)">
          <small class="text-danger" *ngIf="email.errors.required">
              Email is Required
          </small>
          <small class="text-danger" *ngIf='email.errors.pattern'>
              This id not a valid Email
          </small>
      </div>
  </div>

    <div class="form-group userName">
      <label for="password">Password:</label> <input type="password"
        class="form-control inp" id="email" placeholder="Enter Password" required
        #password='ngModel' minlength="6" [class.is-invalid]='password.invalid && password.touched'
        name="password" ngModel>
    </div>


    <div *ngIf="password.touched" class="password">
      <div *ngIf="password.errors && (password.invalid)">
          <small class="text-danger" *ngIf="password.errors.required">
              Password is Required
          </small>
          <small class="text-danger" *ngIf='password.errors.minlength'>
            It should not be less than 6 charaters
        </small>
      </div>
  </div>


  

    <div align="center">
      <button [disabled]="formLogin.form.invalid" type="submit"
      class="btnsubmit btn btn-primary">Login</button>
    </div>
    <hr>
    <div>
      <a href="" class="email">New User? Register Now</a>
    </div>
  </div>
</form> -->

<!-- <script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");

  signupBtn.onclick = (()=>{
    loginForm.style.marginLeft = "-50%";
    loginText.style.marginLeft = "-50%";
  });
  loginBtn.onclick = (()=>{
    loginForm.style.marginLeft = "0%";
    loginText.style.marginLeft = "0%";
  });
  signupLink.onclick = (()=>{
    signupBtn.click();
    return false;
  });
</script> -->


<div class="wrapper">
  <div class="title-text">
     <div class="title login">
        Login Form
     </div>
  </div>
  <div class="form-container">
     <!-- <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked >
        <label for="login" class="slide login">Login</label>
        <div class="slider-tab"></div>
     </div> -->
     <div class="form-inner">
        <form #formLogin='ngForm' (ngSubmit)="loginUser(formLogin.value)" class="login">
           <div class="field">
              <input type="text" placeholder="Email Address" required name="email" #email='ngModel' [class.is-invalid]='email.invalid && email.touched' 
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel>
           </div>

           <div *ngIf="email.touched">
            <div *ngIf="email.errors && (email.invalid)">
                <small class="text-danger" *ngIf="email.errors.required">
                    Email is Required
                </small>
                <small class="text-danger" *ngIf='email.errors.pattern'>
                    This id not a valid Email
                </small>
            </div>
          </div>

           <div class="field">
              <input type="password" placeholder="Password" required required
              #password='ngModel' minlength="6" [class.is-invalid]='password.invalid && password.touched'
              name="password" ngModel>
           </div>


           <div *ngIf="password.touched">
            <div *ngIf="password.errors && (password.invalid)">
                <small class="text-danger" *ngIf="password.errors.required">
                    Password is Required
                </small>
                <small class="text-danger" *ngIf='password.errors.minlength'>
                  It should not be less than 6 charaters
              </small>
            </div>
        </div>
            <div class="field btn">
              <div class="btn-layer">
              <input [disabled]="formLogin.form.invalid" type="submit" value="Login">
            </div>
           </div>
           <div class="signup-link">
              Not a member? <a routerLink='/register'>Register Here</a>
           </div>
        </form>
     </div>
  </div>
</div>