<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand flash-me">Home!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
                </li>

                <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        Products
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink='/addproduct'>Add Product</a>
                    </div>
                </li>

                <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        User
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink='/adduser'>Add User</a>
                        <a class="dropdown-item" routerLink="/updateuser">updateuser</a>
                        <a class="dropdown-item" routerLink="/deleteuser">Delete User</a>
                        <a class="dropdown-item" routerLink="/getUsers">Users</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="title">Add Product</div>
    <div class="content">
        <form #formReg='ngForm' (ngSubmit)="updateProduct(formReg.value)">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Product Id*</span>
                    <h5 type="text" class="brd" required name="productid" #productid='ngModel'
                        [class.is-invalid]='productid.invalid && productid.touched' minlength="2" ngModel readonly="readonly">{{id}}</h5>
                    <div *ngIf="productid.touched">
                        <div *ngIf="productid.errors && (productid.invalid)">
                            <small class="text-danger" *ngIf="productid.errors.required">
                                Product Id is Required
                            </small>
                            <small class="text-danger" *ngIf='productid.errors.minlength'>
                                Product Id should be of length 1 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="input-box">
                    <span class="details">Product Name*</span>
                    <input type="text" placeholder="Enter Product name" required name="name" #name='ngModel'
                        [class.is-invalid]='name.invalid && name.touched' minlength="2" ngModel />
                    <div *ngIf="name.touched">
                        <div *ngIf="name.errors && (name.invalid)">
                            <small class="text-danger" *ngIf="name.errors.required">
                                Product Name is Required
                            </small>
                            <small class="text-danger" *ngIf='name.errors.minlength'>
                                Product Name should not be less length 2 characters
                            </small>
                        </div>
                    </div>

                </div>

                <div class="input-box">
                    <span class="details">Price*</span>
                    <input type="text" placeholder="Enter Price" required name="price" #price='ngModel'
                        [class.is-invalid]='price.invalid && price.touched' ngModel>

                    <div *ngIf="price.touched">
                        <div *ngIf="price.errors && (price.invalid)">
                            <small class="text-danger" *ngIf="price.errors.required">
                                Price is Required
                            </small>
                            <small class="text-danger" *ngIf='price.errors.minlength'>
                                It should not be less than 1 charaters
                            </small>
                        </div>
                    </div>

                </div>

                <div class="input-box">
                    <span class="details">Image Url*</span>
                    <input type="text" placeholder="Enter URL of Image" required #url='ngModel' minlength="4"
                        [class.is-invalid]='url.invalid && url.touched' name="url" ngModel>

                    <div *ngIf="url.touched">
                        <div *ngIf="url.errors && (url.invalid)">
                            <small class="text-danger" *ngIf="url.errors.required">
                                URL is Required
                            </small>
                            <small class="text-danger" *ngIf='url.errors.minlength'>
                                It should not be less than 4 charaters
                            </small>
                        </div>
                    </div>

                </div>

                <div class="input-box">
                    <span class="details">Stock*</span>
                    <input type="text" placeholder="Enter Stock Value" required #stock='ngModel' minlength="2"
                        [class.is-invalid]='stock.invalid && stock.touched' name="stock" ngModel>
                    <div *ngIf="stock.touched">
                        <div *ngIf="stock.errors && (stock.invalid)">
                            <small class="text-danger" *ngIf="stock.errors.required">
                                Stock is Required
                            </small>
                            <small class="text-danger" *ngIf='stock.errors.minlength'>
                                It should not be less than 2 charaters
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile" (change)="onImageSelect($event)">
              </div>
            <div class="button">
                <input [disabled]='formReg.form.invalid' type="submit" value="Update Product">
            </div>
        </form>
    </div>
</div>