
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand flash-me">Home!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/adduser">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/updateuser">Update User</a>
          </li>
        </ul>
        <form class="d-flex" #searchForm='ngForm' >
          <input class="form-control me-2" type="text" placeholder="Search User" aria-label="Search" name='mail'
          [(ngModel)]="mail" (ngModelChange)="getSingleUser()">
        </form>

        <button class="btn btn-outline-danger" routerLink='/login' (click)="logOut()">Log Out</button>
      </div>
    </div>
  </nav>


  

  <div class="card-group wrap">
    <div class="crd col-md-3 m-a-2" *ngFor="let user of users">
        <div class="brdr card card-width">
            <div class="num"></div>
            <img src="../../assets/images/right.png" alt="error loading">
            
            <ul class="txt list-group list-group-flush cole">
                <li class="list-group-item cole">User Id : <strong>{{ user.email }}</strong></li>
                <li class="list-group-item cole">User Name : <strong>{{ user.name }}</strong></li>
                <li class="list-group-item cole">User City : <strong>{{ user.city }}</strong></li>
                <li class="list-group-item cole">User Mobile : <strong>{{ user.mobile }}</strong></li>
            </ul>
            <button class="btn btn-outline-danger" (click)='deleteUser(user)'><Strong>Delete User</Strong></button>
        </div>
    </div>
  </div>

  







