/* .wrap {
	margin-top: 30px;
	padding: 5px;
	padding-left: 20px;
	border-radius: 5px;
	height: auto;
}
.brdr {
	border: 2px solid black;
	width: 350px;
}

.crd {
	transform: scale(1.05);
}

.crd :hover {
	transform: scale(1.05);
	cursor: pointer;
}
.num {
	margin-top: -5px;
	font-size: 55px;
	color: black;
	background-color: black;
	display: block;
	margin-bottom: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 90px;
	text-align: center;
	color: white;
	width: 100.5%;
}
img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-top: -45px;
} */

img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-top: -45px;
}

hr {
	margin: 2px;
}

.wrap {
	margin-top: 30px;
	padding: 5px;
	padding-left: 20px;
	border-radius: 5px;
	height: auto;
}

.data {
	font-size: 40px;
}

.num {
	margin-top: -5px;
	margin-left: -1px;
	font-size: 55px;
	color: black;
	background-color: black;
	display: block;
	margin-bottom: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 90px;
	text-align: center;
	color: white;
	width: 100.5%;
}

img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-top: -54px;
	margin-left: 125px;
}

.cardTitle {
	margin-left: 40%;
}

.txt {
	text-align: center;
}

.mytxt {
	margin-left: 50px;
}

.brdr {
	border: 2px solid black;
	width: 350px;
}

.crd {margin-right: 50px;
	transform: scale(1.05);
	margin-bottom: 30px;
}

.crd :hover {
	transform: scale(1.05);
	cursor: pointer;
}

