.cardLogin {
	margin-left: 30%;
	margin-top: 20px;
	border: 2px solid black;
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 20px;
}

.cardLogin:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.cardReg{
	margin-top: 20px;
	border: 4px solid rgb(241, 243, 237);
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 20px;
}

.loginTitle {
	background-image: linear-gradient(to right, rgb(0, 92, 128),
	rgb(0, 92, 128));
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 90px;
	font-size: 50px;
	padding: 5px;
	color: black;
}

.btnsubmit{
	margin-bottom: 10px;
}


.userName {
	margin: 10px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.inp {
	background-image: linear-gradient(to right, rgb(191, 231, 181),
		rgb(230, 230, 191));
	height: 50px;
	color: black
}

.email,.password,.name{
	margin-left: 20px;
	color: rgb(17, 5, 5);
}

body{
	background-color: aqua;
  }

  .block{
	display:inline-block;
	padding:20px 20px;
	background:rgb(1, 5, 61);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .flash-me {
	color:#fff;
	font-size:40px;
	font-style: bold italic;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight:bolder;
	-webkit-animation: flash linear 2s infinite;
	animation: flash linear 2s infinite;
  }
  
  @-webkit-keyframes flash {
	0% { opacity: 0; } 
	80% { opacity: 1; color:rgb(228, 34, 34); } 
	83% { opacity: 0; color:rgb(9, 9, 29); } 
	86% { opacity: 1; color:rgb(197, 14, 127);}  
	89% { opacity: 0} 
	92% { opacity: 1; color:rgb(22, 3, 13);} 
	95% { opacity: 0; color:rgb(158, 7, 7);}
	100% { opacity: 1; color:rgb(212, 14, 179);}
  }
  @keyframes flash {
	0% { opacity: 0; } 
	80% { opacity: 1; color:rgb(238, 26, 26); } 
	83% { opacity: 0; color:rgb(6, 17, 22); } 
	86% { opacity: 1; color:rgb(221, 21, 171);}  
	89% { opacity: 0} 
	92% { opacity: 1; color:rgb(170, 12, 91);} 
	95% { opacity: 0; color:rgb(1, 24, 4);}
	100% { opacity: 1; color:rgb(221, 19, 19);}
  }
  


body {
	background-image: linear-gradient(to right, rgb(39, 165, 123), #a9ddcd);
	background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm296-ning-10.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=70482d1cd9533490d3c3f1493a38a5aa');
    background-size:100%;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 10px 10px;
  }
  
  /* Style the header links */
  .header a {
	float: left;
	color: rgb(54, 4, 136);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
	line-height: 25px;
	border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
	background-color: rgb(236, 239, 241);
	color: rgb(14, 1, 1);
  }
  
  /* Float the link section to the right */
  .header-right {
	float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.header-right {
	  float: none;
	}
  }