<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand flash-me">Home!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
                </li>

                <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        User
                    </a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink='/adduser'>Add User</a>
                        <a class="dropdown-item" routerLink="/updateuser">updateuser</a>
                        <a class="dropdown-item" routerLink="/deleteuser">Delete User</a>
                        <a class="dropdown-item" routerLink="/getUsers">Users</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="title">Add Product</div>
    <div class="content">
         <form #formReg='ngForm' >              <!--(ngSubmit)="registerProduct(formReg.value)" -->
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Product Name*</span>
                    <input type="text" placeholder="Enter Product Name" required name="productname"
                        #productname='ngModel' [class.is-invalid]='productname.invalid && productname.touched'
                        minlength="2" ngModel />
                    <div *ngIf="productname.touched">
                        <div *ngIf="productname.errors && (productname.invalid)">
                            <small class="text-danger" *ngIf="productname.errors.required">
                                Product Name is Required
                            </small>
                            <small class="text-danger" *ngIf='productname.errors.minlength'>
                                Product Name should be of length 2 characters
                            </small>
                        </div>
                    </div>

                </div>

                <div class="input-box">
                    <span class="details">Manufacturer*</span>
                    <input type="text" placeholder="Enter Manufacturer" required #manu='ngModel' minlength="4"
                        [class.is-invalid]='manu.invalid && manu.touched' name="manu" ngModel>
                    <div *ngIf="manu.touched">
                        <div *ngIf="manu.errors && (manu.invalid)">
                            <small class="text-danger" *ngIf="manu.errors.required">
                                Manufacturer is Required
                            </small>
                            <small class="text-danger" *ngIf='manu.errors.minlength'>
                                Manufacturer can not be less than 2 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="input-box">
                    <span class="details">Price*</span>
                    <input type="text" placeholder="Enter Price" required name="price" #price='ngModel'
                        [class.is-invalid]='price.invalid && price.touched' ngModel>

                    <div *ngIf="price.touched">
                        <div *ngIf="price.errors && (price.invalid)">
                            <small class="text-danger" *ngIf="price.errors.required">
                                Price is Required
                            </small>
                            <small class="text-danger" *ngIf='price.errors.minlength'>
                                It should not be less than 1 charaters
                            </small>
                        </div>
                    </div>

                </div>

                <div class="input-box">
                    <span class="details">Description*</span>
                    <input type="text" placeholder="Enter your number" required #desc='ngModel' minlength="5"
                        maxlength="50" [class.is-invalid]='desc.invalid && desc.touched' name="desc" ngModel>
                    <div *ngIf="desc.touched">
                        <div *ngIf="desc.errors && (desc.invalid)">
                            <small class="text-danger" *ngIf="desc.errors.required">
                                Phone no. is Required
                            </small>
                            <small class="text-danger" *ngIf='desc.errors.minlength'>
                                It should not be less than 10 characters
                            </small>
                            <small class="text-danger" *ngIf='desc.errors.maxlength'>
                                It should not be More than 20 characters
                            </small>
                        </div>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Image Url*</span>
                    <input type="text" placeholder="Enter URL of Image" required #url='ngModel' minlength="4"
                        [class.is-invalid]='url.invalid && url.touched' name="url" ngModel>

                    <div *ngIf="url.touched">
                        <div *ngIf="url.errors && (url.invalid)">
                            <small class="text-danger" *ngIf="url.errors.required">
                                URL is Required
                            </small>
                            <small class="text-danger" *ngIf='url.errors.minlength'>
                                It should not be less than 4 charaters
                            </small>
                        </div>
                    </div>

                </div>
                <div class="input-box">
                    <span class="details">Stock*</span>
                    <input type="text" placeholder="Enter Stock Value" required #stock='ngModel' minlength="2"
                        [class.is-invalid]='stock.invalid && stock.touched' name="stock" ngModel>
                    <div *ngIf="stock.touched">
                        <div *ngIf="stock.errors && (stock.invalid)">
                            <small class="text-danger" *ngIf="stock.errors.required">
                                Stock is Required
                            </small>
                            <small class="text-danger" *ngIf='stock.errors.minlength'>
                                It should not be less than 2 charaters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="input-box">
                    <span class="details">Category*</span>
                    <input type="text" placeholder="Enter Category*" required #cat='ngModel' minlength="1"
                        [class.is-invalid]='cat.invalid && cat.touched' name="cat" ngModel>

                    <div *ngIf="cat.touched">
                        <div *ngIf="cat.errors && (cat.invalid)">
                            <small class="text-danger" *ngIf="cat.errors.required">
                                Category is Required
                            </small>
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile" >                    <!--  (change)="onImageSelect($event)" -->
            </div>

            <div class="button">
                <input [disabled]='formReg.form.invalid' type="submit" value="Add Product">
            </div>
        </form>
    </div>
</div>