/* .cardtc{
	margin-top: 20px;
	border: 2px solid black;
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 10px;
} */
/* .crdic{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 10px;
}
img{
	margin-top: 20px;
	margin-left: 0px;
    height: 260px;
}

.titlecrd{
	text-align: center;
    font-size: 30px;
}
.btnCart{
	text-align: center;
	margin-left: 10px;
}

.btnwish{
	margin-left: 20px;
}






.dropbtn {
	margin-top: 5px;
	background-color: #04AA6D;
	color: white;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 5px;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #cc9b9b;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
  }
  
  .dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {
	  background-color: #ddd;
	}
  
  .dropdown:hover .dropdown-content {
	  display: block;
	}
  
  .dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}


	.navbar{
		background-color: black;
		border-radius: 30px;
		
	}
	.navbar ul{
		overflow: auto;
	}
	.navbar li{
		float:left;
		list-style: none; 
		margin: 13px 20px;
		
	}
	.navbar li a{
		padding: 3px 3px;
		text-decoration: none;
		color: white;
	}
	.navbar li a:hover{
		color: red
	}
	.search{
		float: right;
		color: white;
		padding: 12px 75px;
	}
	.navbar input{
		border: 2px solid black;
		border-radius: 14px;
		padding: 3px 17px;
		width: 129px;
	} */

	li:hover{
		cursor: pointer;
	}


	.dropdown:hover>.dropdown-menu{
		display: block;
	}

	.btnCart{
		text-align: center;
		margin-left: 10px;
	}
	
	.btnwish{
		margin-left: 50px;
	}

	.box-shadow{
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
	}
	.tp{
		margin-top: 20px;
	}
	.cen{
		margin-left: 20%;
	}

	.btm{
		margin-bottom: 20px;
	}

	.wdt{
		height: 300px;
	}