<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand flash-me">Home!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)='getImages()'>Images</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)='getProducts()'>Products</a>
        </li> -->
    
        <li class="nav-item dropdown" *ngIf='isLoggedIn()'>
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
            User
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink='/adduser'>Add User</a>
            <a class="dropdown-item" routerLink="/updateuser">updateuser</a>
            <a class="dropdown-item" routerLink="/deleteuser">Delete User</a>
            <a class="dropdown-item" routerLink="/getUsers">Users</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf='isLoggedIn()'>
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
            Product
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink='/addproduct'>Add Product</a>
            <a class="dropdown-item" routerLink="/updateproduct">Edit Product</a>
            <a class="dropdown-item" routerLink="/deleteuser">Delete Product</a>
          </div>
        </li>

      </ul>
      <form class="d-flex text" #searchForm='ngForm' >
        <input class="form-control me-2" type="text" placeholder="Search Product" aria-label="Search" name='name'
        [(ngModel)]="name" (ngModelChange)="getSingleProduct()">
      </form>
        <button class="btn btn-outline-danger" routerLink='/login' (click)="logOut()">Log Out</button>
    </div>
  </div>
</nav>


<div class="container tp">
  <div class="row">
    <div class="col-sm-3 btm" *ngFor = "let prod of products">
      <div class="card box-shadow" >
        <img class="card-img-top wdt" src="{{prod.img_url}}" alt="Card image cap">
        <hr>
        <div class="card-body">
          <h5 class="card-title text-center" *ngIf="isLoggedIn()"><strong>{{prod.product_id}}</strong></h5>
          <hr>
          <h5 class="card-title text-center"><strong>{{prod.product_name}}</strong></h5>
          <hr>
          <p class="card-text text-center"><strong>${{prod.price}}</strong></p>
          <hr>

          <a class="btn btn-outline-success cen" *ngIf='isLoggedIn()' routerLink='/updateproduct/{{prod.product_id}}'>Edit</a>
          <a class="btn btn-outline-danger cen" *ngIf='isLoggedIn()' (click)='deleteProduct(prod)'>Delete</a>


          <a class="btn btn-outline-success cen" style="margin-left: 32%;" *ngIf='!isLoggedIn()'>Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>

